<section id="about" class="simple-section">
  <div class="simple-section--content">
    <h4 class="subtitle text-animate">acerca del grupo</h4>
    <h2 class="title text-animate">AgroBioTek</h2>
    <p class="text text-animate">AgroBioTek fue fundada en Tegucigalpa, Honduras en 1995 y actualmente también opera en Guatemala, El Salvador, Nicaragua y República Dominicana. El Grupo AgroBioTek ofrece una amplia gama de servicios, equipos y productos a la industria agrícola productora de alimentos, como también a las industrias farmacéuticas y veterinarias de Centroamérica y el Caribe. En la actualidad, el Grupo AgroBioTek se ha convertido en el Líder de la región ofreciendo servicios de capacitación y de análisis microbiológicos a la industria productora y procesadora de alimentos, con especial énfasis en inocuidad y sanidad de alimentos para consumo humano.</p>
  </div>
</section>
