<section id="contact">
  <div class="contact-head">
    <h4 class="subtitle text-animate">nuestras sedes</h4>
    <h2 class="title text-animate">contactanos</h2>
  </div>
  <div class="contacts">
    <div class="my-slider">
    	<ul>
    		<li>
          <div class="column-direction">
            <div class="head-direction">
              <h3>AgroBioTek Laboratorios S. de R.L.</h3>
            </div>
            <div class="block">
              <h4>direccion</h4>
              <p>Edificio Santa Bárbara 726. 3 Ave, 7 y 8 Calles, frente a La Policlínica, Tegucigalpa</p>
              <p>Edificio San Remo, 9 Ave. S.O. 4-5 calle, Barrio El Benque, San Pedro Sula</p>
            </div>
            <div class="block">
              <h4>telefono</h4>
              <p>PBX: +(504) 2238-0872</p>
              <p>PBX: +(504) 2552-7116</p>
            </div>
            <div class="block">
              <h4>E-mail</h4>
              <a href="mailto:honduras@agrobiotek.com">honduras@agrobiotek.com</a>
              <a href="mailto:sanpedrosula@agrobiotek.com">sanpedrosula@agrobiotek.com</a>
            </div>
          </div>
    		</li>
    		<li>
          <div class="column-direction">
            <div class="head-direction">
              <h3>AgroBioTek Laboratorios Guatemala, S.A.</h3>
            </div>
            <div class="block">
              <h4>direccion</h4>
              <p>1 calle 2-29, zona 10, cuidad de Guatemala</p>
            </div>
            <div class="block">
              <h4>telefono</h4>
              <p>+(502) 2334-6946</p>
            </div>
            <div class="block">
              <h4>E-mail</h4>
              <a href="mailto:guatemala@agrobiotek.com">guatemala@agrobiotek.com</a>
            </div>
          </div>
    		</li>
    		<li>
          <div class="column-direction">
            <div class="head-direction">
              <h3>AgroBioTek El Salvador, S.A. de C.V.</h3>
            </div>
            <div class="block">
              <h4>direccion</h4>
              <p>Colonia Miramonte Poniente, Avenida A, No. 245, San Salvador</p>
            </div>
            <div class="block">
              <h4>telefono</h4>
              <p>+(503) 2260-7669/7670</p>
            </div>
            <div class="block">
              <h4>E-mail</h4>
              <a href="mailto:elsalvador@agrobiotek.com">elsalvador@agrobiotek.com</a>
            </div>
          </div>
    		</li>
        <li>
          <div class="column-direction">
            <div class="head-direction">
              <h3>AgroBioTek Nicaragua, S.A.</h3>
            </div>
            <div class="block">
              <h4>direccion</h4>
              <p>Reparto El Carmen, Hyundai Montoya 200 mts. al este contiguo a Policlínica Xolotlan, B-1, Managua.</p>
            </div>
            <div class="block">
              <h4>telefonos</h4>
              <p>+(505) 266-6186</p>
              <p>+(505) 268-7747</p>
            </div>
            <div class="block">
              <h4>E-mail</h4>
              <a href="mailto:nicaragua@agrobiotek.com">nicaragua@agrobiotek.com</a>
            </div>
          </div>
    		</li>
        <li>
          <div class="column-direction">
            <div class="head-direction">
              <h3>AgroBioTek Laboratorio S.A.</h3>
            </div>
            <div class="block">
              <h4>direccion</h4>
              <p>Calle Santiago No. 608 Altos, Gazcue, Santo Domingo.</p>
            </div>
            <div class="block">
              <h4>telefono</h4>
              <p>+809-221-5751</p>
            </div>
            <div class="block">
              <h4>E-mail</h4>
              <a href="mailto:dominicana@agrobiotek.com">dominicana@agrobiotek.com</a>
            </div>
          </div>
    		</li>
    	</ul>
    </div>
  </div>
</section>
