<header class="scrollhide-nav">
  <h1 class="logo"><img src="img/logo.svg" alt=""></h1>
  <a class="nav-trigger" href="#">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </a>
  <nav class="desktop-nav">
    <ul class="navigation-links">
      <li><a href="#about">acerca de</a></li>
      <li><a href="#services">servicios</a></li>
      <li><a href="#products">productos</a></li>
      <li><a href="#contact">contactanos</a></li>
    </ul>
  </nav>
  <nav class="mobile-nav">
    <ul class="navigation-links">
      <li><a href="#about">acerca de</a></li>
      <li><a href="#services">servicios</a></li>
      <li><a href="#products">productos</a></li>
      <li><a href="#contact">contactanos</a></li>
    </ul>
  </nav>
</header>
<div class="hero">
  <video autoplay loop muted id="video-background">
    <source src="video/ABTWebIntro.mp4" type="video/mp4">
  </video>
  <div class="hero-overlay"></div>
  <div class="hero-small-bg"></div>
  <div class="hero-inner">
    <div class="hero-image-logo">
      <img src="img/abt-logo-hero.png" alt="Agrobiotek Internacional">
      <ul>
        <li><img src="img/flags/honduras.png" alt="Agrobiotek Honduras"></li>
        <li><img src="img/flags/guatemala.png" alt="Agrobiotek Honduras"></li>
        <li><img src="img/flags/elsalvador.png" alt="Agrobiotek Honduras"></li>
        <li><img src="img/flags/nicaragua.png" alt="Agrobiotek Honduras"></li>
        <li><img src="img/flags/dominicana.png" alt="Agrobiotek Honduras"></li>
      </ul>
    </div>
  </div>
</div>
