<section id="products" class="advance-section" style="background: url(img/productos-bg.jpg) center center; background-size: cover;">
  <div class="advance-section--content advance-section--content-dark">
    <h4 class="subtitle text-animate">acerca de nuestros</h4>
    <h2 class="title text-animate">productos</h2>
    <p class="text text-animate">AgroBioTek cuenta con la ventaja competitiva del conocimiento requerido para recomendar a nuestros clientes los equipos, reactivos y consumibles que mejor llenan sus necesidades de complejidad, costo y sensibilidad de detección; suministrándole, adicionalmente, el entrenamiento y mantenimiento requerido para obtener el máximo retorno de su inversión.</p>
  </div>
</section>

<div class="wrapper">
  <div class="item-container">
    <div class="item" data-item="equipos">
      <div class="item--tag">
        <span>equipos</span>
      </div>
      <div class="item--description">
        <h3 class="description-title">Equipos</h3>
        <h4 class="description-cta">Descubre más</h4>
      </div>
      <div class="item--overlay"></div>
      <div class="item--image">
        <img class="item-img" src="img/abt-equipos.jpg" alt="Equipos Agrobiotek">
      </div>
    </div>
    <div class="item" data-item="reactivos">
      <div class="item--tag">
        <span>equipos</span>
      </div>
      <div class="item--description">
        <h3 class="description-title">Medios y Reactivos</h3>
        <h4 class="description-cta">Descubre más</h4>
      </div>
      <div class="item--overlay"></div>
      <div class="item--image">
        <img class="item-img" src="img/abt-reactivos.jpg" alt="Aguas agrobiotek">
      </div>
    </div>
    <div class="item" data-item="consumibles">
      <div class="item--tag">
        <span>equipos</span>
      </div>
      <div class="item--description">
        <h3 class="description-title">Consumibles</h3>
        <h4 class="description-cta">Descubre más</h4>
      </div>
      <div class="item--overlay"></div>
      <div class="item--image">
        <img class="item-img" src="img/abt-consumibles.jpg" alt="Aguas agrobiotek">
      </div>
    </div>
  </div>
</div>
