<section id="services" class="advance-section" style="background: url(img/servicios-bg.jpg) center center; background-size: cover;">
  <div class="advance-section--content advance-section--content-dark">
    <h4 class="subtitle text-animate">acerca de nuestros</h4>
    <h2 class="title text-animate">servicios</h2>
    <p class="text text-animate">Somos el Aliado Estratégico de las industrias de alimentos y agropecuaria de Centro América y el Caribe</p>
  </div>
</section>

<div class="tabs">
  <nav class="tabs-navigation">
    <ul>
      <li><a class="selected" href="#lab">Laboratorio</a></li>
      <li><a href="#audit">Auditorías y Consultorías</a></li>
      <li><a href="#caps">Capacitaciones</a></li>
    </ul>
  </nav>
  <ul class="tabs-content">
    <li id="lab" class="selected">
      <div class="item-container">
        <div class="item" data-item="indicadores">
          <div class="item--tag">
            <span>laboratorio</span>
          </div>
          <div class="item--description">
            <h3 class="description-title">Detección de Microorganismos Indicadores</h3>
            <h4 class="description-cta">Descubre más</h4>
          </div>
          <div class="item--overlay"></div>
          <div class="item--image" style="background: url(img/abt-lab-indicadores.jpg) center center; background-size: cover;"></div>
        </div>
        <div class="item" data-item="patogenos">
          <div class="item--tag">
            <span>laboratorio</span>
          </div>
          <div class="item--description">
            <h3 class="description-title">Detección de Microorganismos Patógenos</h3>
            <h4 class="description-cta">Descubre más</h4>
          </div>
          <div class="item--overlay"></div>
          <div class="item--image" style="background: url(img/abt-lab-patogenos.jpg) center center; background-size: cover;"></div>
        </div>
        <div class="item" data-item="aguas">
          <div class="item--tag">
            <span>laboratorio</span>
          </div>
          <div class="item--description">
            <h3 class="description-title">Análisis Microbiológicos de Agua</h3>
            <h4 class="description-cta">Descubre más</h4>
          </div>
          <div class="item--overlay"></div>
          <div class="item--image" style="background: url(img/abt-lab-aguas.jpg) center center; background-size: cover;"></div>
        </div>
        <div class="item" data-item="ambientales">
          <div class="item--tag">
            <span>laboratorio</span>
          </div>
          <div class="item--description">
            <h3 class="description-title">Monitoreo Microbiológico Ambiental</h3>
            <h4 class="description-cta">Descubre más</h4>
          </div>
          <div class="item--overlay"></div>
          <div class="item--image" style="background: url(img/abt-lab-ambientales.jpg) center center; background-size: cover;"></div>
        </div>
        <div class="item" data-item="serologicos">
          <div class="item--tag">
            <span>laboratorio</span>
          </div>
          <div class="item--description">
            <h3 class="description-title">Análisis Serológicos</h3>
            <h4 class="description-cta">Descubre más</h4>
          </div>
          <div class="item--overlay"></div>
          <div class="item--image" style="background: url(img/abt-lab-serologia.jpg) center center; background-size: cover;"></div>
        </div>
        <div class="item" data-item="micotoxinas">
          <div class="item--tag">
            <span>laboratorio</span>
          </div>
          <div class="item--description">
            <h3 class="description-title">Determinación de micotoxinas, Residuos y Alergenos</h3>
            <h4 class="description-cta">Descubre más</h4>
          </div>
          <div class="item--overlay"></div>
          <div class="item--image" style="background: url(img/abt-lab-micotoxinas.jpg) center center; background-size: cover;"></div>
        </div>
      </div>
    </li>
    <li id="audit">
      <div class="item-container">
        <div class="item item-double" data-item="auditorias-cocina">
          <div class="item--tag">
            <span>auditorias & consultorias</span>
          </div>
          <div class="item--description">
            <h3 class="description-title">En Cocinas de Hoteles y Restaurantes</h3>
            <h4 class="description-cta">Descubre más</h4>
          </div>
          <div class="item--overlay"></div>
          <div class="item--image" style="background: url(img/audits-hoteles.jpg) center center; background-size: cover;"></div>
        </div>
        <div class="item item-double" data-item="auditorias-plantas">
          <div class="item--tag">
            <span>auditorias & consultorias</span>
          </div>
          <div class="item--description">
            <h3 class="description-title">En Plantas Procesadoras de Alimentos</h3>
            <h4 class="description-cta">Descubre más</h4>
          </div>
          <div class="item--overlay"></div>
          <div class="item--image" style="background: url(img/audits-plantas.jpg) center center; background-size: cover;"></div>
        </div>
      </div>
    </li>
    <li id="caps">
      <div class="item-container">
        <div class="item item-double" data-item="capacitaciones-abiertas">
          <div class="item--tag">
            <span>capacitaciones</span>
          </div>
          <div class="item--description">
            <h3 class="description-title">Capacitaciones Abiertas</h3>
            <h4 class="description-cta">Descubre más</h4>
          </div>
          <div class="item--overlay"></div>
          <div class="item--image" style="background: url(img/capacitaciones-abiertas.jpg) center center; background-size: cover;"></div>
        </div>
        <div class="item item-double" data-item="capacitaciones-plantas">
          <div class="item--tag">
            <span>capacitaciones</span>
          </div>
          <div class="item--description">
            <h3 class="description-title">Capacitaciones en Plantas</h3>
            <h4 class="description-cta">Descubre más</h4>
          </div>
          <div class="item--overlay"></div>
          <div class="item--image" style="background: url(img/capacitaciones-planta.jpg) center center; background-size: cover;"></div>
        </div>
      </div>
    </li>
  </ul>
</div>
