<div class="suppliers">
  <h4 class="title-variant text-animate">distribuidores autorizados de:</h4>
  <div class="logos">
    <div class="logo-supplier">
      <div class="logo-image">
        <img src="img/logos/acumedia.png">
      </div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image">
        <img src="img/logos/biobase.png">
      </div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image">
        <img src="img/logos/biochek.png">
      </div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image">
        <img src="img/logos/biopointe.png">
      </div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image">
        <img src="img/logos/biotek.png">
      </div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image">
        <img src="img/logos/chromagar.png">
      </div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image">
        <img src="img/logos/citizen.png">
      </div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image">
        <img src="img/logos/cooper.png">
      </div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image">
        <img src="img/logos/creative-diagnostic.jpg">
      </div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image">
        <img src="img/logos/dalyn.png">
      </div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image">
        <img src="img/logos/europroxima.png">
      </div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image">
        <img src="img/logos/genessee.png">
      </div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image">
        <img src="img/logos/gibson.png">
      </div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image">
        <img src="img/logos/hyserve.png">
      </div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image">
        <img src="img/logos/idexx.png">
      </div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image">
        <img src="img/logos/interscience.png">
      </div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image">
        <img src="img/logos/kikkoman.png">
      </div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image">
        <img src="img/logos/labplas.png">
      </div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image">
        <img src="img/logos/maico.png">
      </div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image">
        <img src="img/logos/microgen.png">
      </div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image">
        <img src="img/logos/neogen.png">
      </div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image">
        <img src="img/logos/sera-care.png">
      </div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image">
        <img src="img/logos/svanova.png">
      </div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image">
        <img src="img/logos/veolia.png">
      </div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image">
        <img src="img/logos/vwr.png">
      </div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image">
        <img src="img/logos/world-bioproducts.png">
      </div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image">
        <img src="img/logos/zeu.png">
      </div>
    </div>
  </div>
</div>
