<div class="suppliers">
  <h4 class="title-variant text-animate">distribuidores autorizados de:</h4>
  <div class="logos">
    <div class="logo-supplier">
      <div class="logo-image" style="background: url(img/logos/biochek.png) center center; background-repeat: no-repeat;
background-size: contain;"></div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image" style="background: url(img/logos/biopointe.png) center center; background-repeat: no-repeat;
background-size: contain;"></div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image" style="background: url(img/logos/biotek.png) center center; background-repeat: no-repeat;
background-size: contain;"></div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image" style="background: url(img/logos/chromagar.png) center center; background-repeat: no-repeat;
background-size: contain;"></div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image" style="background: url(img/logos/citizen.png) center center; background-repeat: no-repeat;
background-size: contain;"></div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image" style="background: url(img/logos/cooper.png) center center; background-repeat: no-repeat;
background-size: contain;"></div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image" style="background: url(img/logos/creative-diagnostic.jpg) center center; background-repeat: no-repeat;
background-size: contain;"></div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image" style="background: url(img/logos/dalyn.png) center center; background-repeat: no-repeat;
background-size: contain;"></div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image" style="background: url(img/logos/europroxima.png) center center; background-repeat: no-repeat;
background-size: contain;"></div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image" style="background: url(img/logos/genessee.png) center center; background-repeat: no-repeat;
background-size: contain;"></div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image" style="background: url(img/logos/gibson.png) center center; background-repeat: no-repeat;
background-size: contain;"></div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image" style="background: url(img/logos/hyserve.png) center center; background-repeat: no-repeat;
background-size: contain;"></div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image" style="background: url(img/logos/idexx.png) center center; background-repeat: no-repeat;
background-size: contain;"></div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image" style="background: url(img/logos/interscience.png) center center; background-repeat: no-repeat;
background-size: contain;"></div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image" style="background: url(img/logos/kikkoman.png) center center; background-repeat: no-repeat;
background-size: contain;"></div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image" style="background: url(img/logos/labplas.png) center center; background-repeat: no-repeat;
background-size: contain;"></div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image" style="background: url(img/logos/maico.png) center center; background-repeat: no-repeat;
background-size: contain;"></div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image" style="background: url(img/logos/microgen.png) center center; background-repeat: no-repeat;
background-size: contain;"></div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image" style="background: url(img/logos/neogen.png) center center; background-repeat: no-repeat;
background-size: contain;"></div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image" style="background: url(img/logos/sera-care.png) center center; background-repeat: no-repeat;
background-size: contain;"></div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image" style="background: url(img/logos/svanova.png) center center; background-repeat: no-repeat;
background-size: contain;"></div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image" style="background: url(img/logos/veolia.png) center center; background-repeat: no-repeat;
background-size: contain;"></div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image" style="background: url(img/logos/vwr.png) center center; background-repeat: no-repeat;
background-size: contain;"></div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image" style="background: url(img/logos/world-bioproducts.png) center center; background-repeat: no-repeat;
background-size: contain;"></div>
    </div>
    <div class="logo-supplier">
      <div class="logo-image" style="background: url(img/logos/zeu.png) center center; background-repeat: no-repeat;
background-size: contain;"></div>
    </div>
  </div>
</div>
