<section id="veterinary" class="advance-section" style="background: url(img/veterinaria-bg.jpg) center center; background-size: cover;">
  <div class="advance-section--content advance-section--content-dark">
    <h4 class="subtitle text-animate">Equipos para la Industria </h4>
    <h2 class="title text-animate">Veterinaria</h2>
    <p class="text text-animate">Ofrecemos equipos y pruebas diagnosticas para un servicio profesional en su clínica u hospital veterinario</p>
    <ul>
      <li><img src="img/flags/honduras.png" alt="Agrobiotek Honduras"></li>
      <li><img src="img/flags/nicaragua.png" alt="Agrobiotek Honduras"></li>
    </ul>
  </div>
</section>
<div class="wrapper">
  <div class="item-container">
    <div class="item item-double" data-item="equipos-veterinaria">
      <div class="item--tag">
        <span>veterinaria</span>
      </div>
      <div class="item--description">
        <h3 class="description-title">Equipos</h3>
        <h4 class="description-cta">Descubre más</h4>
      </div>
      <div class="item--overlay"></div>
      <div class="item--image">
        <img class="item-img" src="img/abt-vet-quipos.jpg" alt="Aguas agrobiotek">
      </div>
    </div>
    <div class="item item-double" data-item="reactivos-veterinaria">
      <div class="item--tag">
        <span>veterinaria</span>
      </div>
      <div class="item--description">
        <h3 class="description-title">Pruebas y Reactivos</h3>
        <h4 class="description-cta">Descubre más</h4>
      </div>
      <div class="item--overlay"></div>
      <div class="item--image">
        <img class="item-img" src="img/abt-vet-reactivos.jpg" alt="Aguas agrobiotek">
      </div>
    </div>
  </div>
</div>

<div class="modal-wrapper">
  <div class="modal-close">
    <a href="#" class="close-icon">
      <span class="close-icon-line"></span>
      <span class="close-icon-line"></span>
    </a>
  </div>
  <div class="modal-slide-left"></div>
  <div class="modal-slide-right"></div>
</div>
