<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <!-- Apple meta start -->
    <meta name="applerequired_uirevision" content="">
    <meta name="applecollabuid" content="">
    <meta name="apple_passwordResetEnabled" content="">
    <meta name="apple_siteDisplayName" content="My Page">
    <meta name="apple_iconURI" content="/collaboration/images/group.png">
    <meta name="viewport" content="width=950, user-scalable=yes, minimum-scale=0.25, maximum-scale=1.5">
    <!-- Apple meta end -->
    <link rel="shortcut icon" type="image/png" href="img/favicon-abt.ico"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/unslider.css">
    <link rel="stylesheet" href="css/unslider-dots.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <script src="//stephband.info/jquery.event.move/js/jquery.event.move.js"></script>
    <script src="//stephband.info/jquery.event.swipe/js/jquery.event.swipe.js"></script>

    <style>
        /* Ensure elements load hidden before ScrollReveal runs */
        .sr .fooReveal { visibility: hidden; }
    </style>

  </head>

  <body>

    {{ content }}

    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/unslider-min.js"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
